<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		Air Pollution Monitor System
	</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<!-- CSS Files -->
	<link href="/static/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="/static/demo/demo.css" rel="stylesheet" />
	<link href="/static/css/Chart.min.css" rel="stylesheet"/>
	
</head>

<body class="">
	<div class="wrapper ">
		{% include "nav.html" %}
		<div class="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<a class="navbar-brand" href="#pablo"><b>Dashboard</b></a>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
			<div class="content">
				
				<div class="container" class="dropdown-menu-right">
				
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Graph
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
					  <li><a href="/">Line Graph</a></li>
					  <li><a href="/bar">Bar Graph</a></li>
					  <li><a href="/pie">Pie Chart</a></li>
					 
					</ul>
					</div>
				  </div>
				  
				
				<div class="row">
					<div class="col-md-6">
						<div class="card card-chart">
							<div class="card-header card-header" style="background-color: honeydew">
							<canvas id="chart_mq135" height="350" width="400">
							</canvas>

							</div>
							<div class="card-body">
								<h4 class="card-title">Air Quality </h4>
								<p class="card-category">
									<!--<span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>-->
							</div>
								
						</div>
					</div>
						<div class="col-md-6">
							<div class="card card-chart">
								<div class="card-header" style="background-color: rgba(236, 246, 252, 0.897)">
									<canvas id="chart_mq7" height="350" width="400">
							</canvas>

									
								</div>
								<div class="card-body">
									<h4 class="card-title">Carbon Mono Oxide</h4>
									
								</div>
								
							</div>
						</div>
						<div class="col-md-6">
							<div class="card card-chart">
								<div class="card-header" style="background-color:azure">
									<canvas id="chart_mq2" height="350" width="400">
							</canvas>

									
								</div>
								<div class="card-body">
									<h4 class="card-title">Flammable Gasses(LPG)</h4>
									
								</div>
								
							</div>
						</div>
						<div class="col-md-6">
							<div class="card card-chart">
								<div class="card-header" style="background-color:azure">
									<canvas id="chart_pm2.5" height="350" width="400">
							</canvas>

									
								</div>
								<div class="card-body">
									<h4 class="card-title">Dust Level</h4>
									
								</div>
								
							</div>
						</div>
					</div>
					<div class="row">
							<div class="col-md-12">
								<div class="card " >
									<div class="card-header card-header-primary">
										<h4 class="card-title  ">Air Quality Scale</h4>
										
									</div>
									<div class="card-body">
										<div class="table table-bordered">
											<table class="table">
												<thead style="font-size: 17px; font-style:inherit;font-family: Georgia, 'Times New Roman', Times, serif" >
													<th><b>
															AQI</b>
													</th>
													<th>
														<b>	Air Pollution Level</b>
													</th>
													<th><b>
															Health Implications</b>
													</th>
													<th><b>
															Cautionary Statement (for PM2.5)</b>
													</th>
												
												</thead>
												<tbody class="text-white" style="font-size: 17px; font-style:inherit;font-family: Georgia, 'Times New Roman', Times, serif">
													
												<tr  style="background-color:#009966;" >
													<td  ><b>0 - 50</b></td>
													<td  ><b>Good</b></td>
													<td  ><b>Air quality is considered satisfactory, and air pollution poses little or no risk</b></td>
													<td  ><b>None</b></td>
												</tr>
												<tr  style="background-color:#ffde33;">
														<td  ><b>51 -100</b></td>
														<td  ><b>Moderate</b></td>
														<td  ><b> quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people who are unusually sensitive to air pollution.</b></td>
														<td  ><b>Active children and adults, and people with respiratory disease, such as asthma, should limit prolonged outdoor exertion.</b></td>
												</tr>
												<tr  style="background-color:#ff9933;">
														<td  ><b>101-150</b></td>
														<td  ><b>Unhealthy for Sensitive Groups</b></td>
														<td  ><b>Members of sensitive groups may experience health effects. The general public is not likely to be affected.</b>	</td>
														<td  ><b>Active children and adults, and people with respiratory disease, such as asthma, should limit prolonged outdoor exertion.</b></td>
												</tr >
												<tr  style="background-color:#cc0033;">
														<td  ><b>151-200</b></td>
														<td  ><b>Unhealthy</b></td>
														<td ><b>Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effects</b></td>
														<td  ><b>Active children and adults, and people with respiratory disease, such as asthma, should avoid prolonged outdoor exertion; everyone else, especially children, should limit prolonged outdoor exertion</b></td>
												</tr>
												<tr  style="background-color:#660099;">
														<td  ><b>201-300</b></td>
														<td  ><b>Very Unhealthy</b></td>
														<td  ><b>Health warnings of emergency conditions. The entire population is more likely to be affected.</b></td>
														<td  ><b>Active children and adults, and people with respiratory disease, such as asthma, should avoid all outdoor exertion; everyone else, especially children, should limit outdoor exertion.</b></td>
													</tr>
													<tr  style="background-color:#7e0023;">
															<td  ><b>300+	</b></td>
															<td  ><b>Hazardous</b></td>
															<td  ><b>Health alert: everyone may experience more serious health effects</b></td>
															<td  ><b>Everyone should avoid all outdoor exertion</b></td>
													</tr>

											</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							
						</div>
				</div>
			</div>
		</div>
			<footer class="footer">
				<div class="container-fluid">
					<div class="copyright float-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script>, made with <i class="material-icons">favorite</i> by
						for a better web.
					</div>
				</div>
			</footer>
	</div>
	
	<div class="fixed-plugin">
		
		<!--   Core JS Files   -->
		<script src="/static/js/core/jquery.min.js"></script>
		<script src="/static/js/core/popper.min.js"></script>
		<script src="/static/js/core/bootstrap-material-design.min.js"></script>
		<script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
		<!-- Plugin for the momentJs  -->
		<script src="/static/js/plugins/moment.min.js"></script>
		<!--  Plugin for Sweet Alert -->
		<script src="/static/js/plugins/sweetalert2.js"></script>
		<!-- Forms Validations Plugin -->
		<script src="/static/js/plugins/jquery.validate.min.js"></script>
		<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
		<script src="/static/js/plugins/jquery.bootstrap-wizard.js"></script>
		<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
		<script src="/static/js/plugins/bootstrap-selectpicker.js"></script>
		<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
		<script src="/static/js/plugins/bootstrap-datetimepicker.min.js"></script>
		<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
		<script src="/static/js/plugins/jquery.dataTables.min.js"></script>
		<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
		<script src="/static/js/plugins/bootstrap-tagsinput.js"></script>
		<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
		<script src="/static/js/plugins/jasny-bootstrap.min.js"></script>
		<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
		<script src="/static/js/plugins/fullcalendar.min.js"></script>
		<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
		<script src="/static/js/plugins/jquery-jvectormap.js"></script>
		<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
		<script src="/static/js/plugins/nouislider.min.js"></script>
		<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
		<!-- Library for adding dinamically elements -->
		<script src="/static/js/plugins/arrive.min.js"></script>
		<!-- Chartist JS -->
		<script src="/static/js/plugins/chartist.min.js"></script>
		<!--  Notifications Plugin    -->
		<script src="/static/js/plugins/bootstrap-notify.js"></script>
		
		<script src="/static/js/Chart.min.js"></script>
		
		
		<!--Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
		<script src="/static/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
		<!-- Material Dashboard DEMO methods, don't include it in your project! -->
		
			
		<script>
			$(document).ready(function() {
				// Javascript method's body can be found in assets/js/demos.js
				md.initDashboardPageCharts();
				
			});

		</script>

				<script>
		$(document).ready(function(e){
			

var ctx = document.getElementById('chart_mq135');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
			{% for item in mqlabels %}
			 "{{item}}",
			 {% endfor %}

		],
        datasets: [{
            label: 'Air quality level ',
            data: [
				{% for item in mq135values %}
				"{{item}}",
				{% endfor %}
			],
            backgroundColor: [
                'rgba(15, 236, 233,0.6)'
              
            ],
            borderColor: [
                'rgba(0, 0, 64, 1)'
            ],
			borderWidth: 2,
			
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});		

var mq7 = document.getElementById('chart_mq7');
var myChart = new Chart(mq7, {
    type: 'line',
    data: {
        labels: [
			{% for item in mqlabels %}
			 "{{item}}",
			 {% endfor %}

		],
        datasets: [{
            label: 'Carbon mono oxide  level in air ',
            data: [
				{% for item in mq7values %}
				"{{item}}",
				{% endfor %}
			],
            backgroundColor: [
                'rgba(29, 255, 15, 0.5)'
              
            ],
            borderColor: [
                'rgba(0, 0, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var mq2 = document.getElementById('chart_mq2');
var myChart = new Chart(mq2, {
    type: 'line',
    data: {
        labels: [
			{% for item in mqlabels %}
			 "{{item}}",
			 {% endfor %}

		],
        datasets: [{
            label: 'Level of Flammable Gasses(LPG) in Air',
            data: [
				{% for item in mq2values %}
				"{{item}}",
				{% endfor %}
			],
            backgroundColor: [
				'rgba(71,45,15,0.6)',
				
				
              
            ],
            borderColor: [
                'rgba(0, 0, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                       }
            }]
        }
    }
});
var pm = document.getElementById('chart_pm2.5');
var myChart = new Chart(pm, {
    type: 'line',
    data: {
        labels: [
			{% for item in mqlabels %}
			 "{{item}}",
			 {% endfor %}

		],
        datasets: [{
            label: 'Dust level in Air',
            data: [
				{% for item in pm2_5values%}
				"{{item}}",
				{% endfor %}
			],
            backgroundColor: [
				'rgba(71,45,15,0.6)',
				
				
              
            ],
            borderColor: [
                'rgba(0, 0, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                       }
            }]
        }
    }
});

});
			
             </script>
			 </body>
	
	</html>
	